{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    <h1 class="text-center my-4">User Profile</h1>
</header>

<main class="d-flex align-items-center justify-content-center">
    <div>
        <div class="">
            <div>
                <img src="{% static 'images/user.png' %}" width="256" height="256" alt="Profile Picture">
            </div>
            <div class="fw-normal">
                <div class="d-flex m-3 justify-content-between">
                    <span>Email:</span>
                    <span>{{ user.email }}</span>
                </div>
                {% if user.first_name %}
                <div class="d-flex m-3 justify-content-between">
                    <span>First Name:</span>
                    <span>{{ user.first_name }}</span>
                </div>
                {% endif %}
                {% if user.last_name %}
                <div class="d-flex m-3 justify-content-between">
                    <span>Last Name:</span>
                    <span>{{ user.last_name }}</span>
                </div>
                {% endif %}
                <!-- <button>Edit Profile</button> -->
                <form class="d-flex justify-content-center" action="{% url 'password_change' %}">
                    <button class="btn btn-secondary">Change Password</button>
                </form>

                <!-- <div class="d-flex justify-content-center pt-3">
                    <button class="btn btn-secondary"><a class="nav-link text-white" href="/accounts/logout/">Logout</a></button>
                </div> -->
            </div>
        </div>
    </div>  
    
  
</main>
  {% endblock %}