{% extends 'base.html' %}
{% load static %}

{% block content %}
<header>
    <h1 class="text-center my-4">User Profile</h1>
</header>

<main class="d-flex align-items-center justify-content-center">
    <div>
        <div>
            <div>
                <img src="{% static 'images/user.png' %}" width="256" height="256" alt="Profile Picture">
            </div>
            <div>
                <div>
                    <span>Email:</span>
                    <span>{{ user.email }}</span>
                </div>
                {% if user.first_name %}
                <div>
                    <span>First Name:</span>
                    <span>{{ user.first_name }}</span>
                </div>
                {% endif %}
                {% if user.last_name %}
                <div>
                    <span>Last Name:</span>
                    <span>{{ user.last_name }}</span>
                </div>
                {% endif %}
                <!-- <button>Edit Profile</button> -->
                <form action="{% url 'password_change' %}">
                    <button>Change Password</button>
                </form>
            </div>
        </div>
    </div>
</main>
  {% endblock %}