{% extends 'base.html' %}

{% block content %}
    
<!-- side bar -->
<div class="d-flex flex-grow-1">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark " style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Your Trips</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      {% for trip_item in trips %}
      <li class="nav-item">
        <a href="{% url 'budget_day' trip_item.id %}" class="nav-link text-white {% if trip.id == trip_item.id %}active{% endif %}">
          <i class="bi bi-geo-alt-fill me-2"></i>
          {{ trip_item.name }}
        </a>
      </li>
      {% endfor %}
      <hr>
    </ul>
    </div>


<div class="container px-4 py-3" id="hanging-icons">
    {% if trip.pk %}
        <header>
            <h2 class="text-center">{{ trip }} - Expense Summary</h1>
        </header>

    {% else %}
        <header class="">
            <h2>Expense Summary</h1>
        </header>
    {% endif %}

    
    {% if trip.pk %}
        <main class="trip-budget">
            <div class="budget">
                <!-- <div class="tab">
                    <a class="active">Day View</a>
                    <a href="{% url 'budget_category' trip.pk %}">Category View</a>
                </div> -->

                <ul class="nav nav-tabs mt-4">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page">Day View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'budget_category' trip.pk %}">Category View</a>
                      </li>
                </ul>
                
                <div class="card card-cover h-100 overflow-hidden text-dark bg-light rounded-5 shadow my-4">
                    <div class="d-flex flex-column align-items-center h-100 p-5 text-dark">
                        <h2>Trip Total</h2>
                        <div class="">${{ total }}</div>
                    </div>
                </div>

                <!-- <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1"> -->
                {% for day, cost in day_expense %}
                    <div class="card card-cover h-100 overflow-hidden text-dark bg-light rounded-5 shadow mb-4">
                        <div class="d-flex flex-column h-100 p-5 text-dark">
                            <div class="d-flex justify-content-between pb-3">
                                <h3>Day {{ day.num }}</h3>
                                <span class="">${{ cost }}</span>
                            </div>
                            {% for event in day.event_set.all %}
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ event.name }}
                                        <span>${{ event.cost }}</span>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <!-- </div> -->
        </main>

    {% else %}
        <main class="">
        <!-- <h2>Expense Summary</h2> -->
        <h3 class="fw-light">Please select a trip.</h3>
        </main>
    {% endif %}

</div>

</div>
{% endblock %}
