{% extends 'base.html' %}

{% block content %}
    <header>
        <h2>Edit Activity</h2>
    </header>
    
    <form class="editForm" method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {% for field in form %}
            <div class="editField">
                <span>{{ field.label_tag }}</span>
                <span>{{ field }}</span>
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <a href="{% url 'delete_event' form.instance.pk %}" onclick="return confirm('Are you sure you want to delete this item?')" class="btn btn-primary"><button type="button">Delete</button></a>

{% endblock %}