{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Edit Trip</h1>
</header>

<main>
    <div class="right-nav2">
        <a href="{% url 'view_trip' form.instance.pk %}" class="go-back">&larr; Go Back</a>
    </div>
    <div class="container">
        <form method="post" class="event-form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="save-btn">Update</button>
            <a href="{% url 'delete_trip' form.instance.pk %}" onclick="return confirm('Are you sure you want to delete this item?')" class="save-btn">Delete</a>
        </form>
    </div>
</main>

{% endblock %}