{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <h2>Trips</h2>
      <ul class="list-group mb-4">
        {% for trip_item in trips %}
        <li class="list-group-item">
          <a href="{% url 'view_trip' trip_item.id %}">{{ trip_item.name }}</a>
        </li>
        {% endfor %}
      </ul>
      <a href="{% url 'create_trip' %}" class="btn btn-primary">Add New Trip</a>
    </div>
    <div class="col-md-9">
      {% if trip.pk %}
        <h1>{{ trip }}</h1>
        <h2 class="my-4">{{ trip.name }}<a href="{% url 'edit_trip' trip.pk %}"><button class="btn btn-outline-primary ml-2">Edit</button></a></h2>
        <p>{{ trip.start_date }}</p>
        <p>{{ trip.description }}</p>
        {% for day in trip.day_set.all %}
        <div class="card my-3">
          <div class="card-body">
            <h3 class="card-title">Day: {{ day.num }}<a href="{% url 'edit_day' day.pk %}"><button class="btn btn-outline-primary ml-2">Edit</button></a></h3>
            <p class="card-text">{{ day.description }}</p>
            {% for event in day.event_set.all %}
            <h4>{{ event.time }}</h4>
            <p>{{ event.name }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
        <a href="{% url 'add_day' trip.id %}"><button class="btn btn-primary">Add Day</button></a>
      {% else %}
        <h2>Welcome to BonVoyage!</h2>
        <h3>Please select or create a trip.</h3>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
