{% extends 'base.html' %}

{% block content %}
<header>
    <h1>Trip Planner</h1>
</header>

<div class="container2">
    <aside class="sidebar">
      <h2>Trips</h2>
      <ul>
        {% for trip_item in trips %}
        <li><a href="{% url 'view_trip' trip_item.id %}">{{ trip_item.name }}</a></li>
        {% endfor %}
      </ul>
    </aside>

    {% if trip %}
    <main class="trip-details">
        <h2>{{ trip.name }}</h2>
        {% for day in trip.day_set.all %}
        <div class="day">
            <a href="{% url 'edit_day' day.id %}"><h3>Day: {{ day.num }}</h3></a>
            <p>{{ day.description }}</p>
            {% for event in day.event_set.all %}
            <p>{{ event }}</p>
            {% endfor %}
        </div>
        {% endfor %}
    </main>
    {% else %}
    <main class="trip-details">
      <h2>Welcome to BonVoyage!</h2>
      <h3>Please select or create a trip.</h3>
    </main>
    {% endif %}
</div>
<button class="add-btn">+</button>
{% endblock %}
