:root {
    --main-color: #f7f7f7;
    --accent-color: #007aff;
    --background-color: #f7f7f7;
    --text-color: #333;
  }
  
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  
  /* Other CSS rules remain the same */
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem;
  
    width: 98%;
    top: 0;
    
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .right-nav2 a:hover {
    background-color: #4a69bd;
    color: #fff;
  }
  
  
  
  /* Updated Logo */
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dark text color */
  }
  
  /* Updated Right Nav */
  
  
  /* Updated Nav Item on hover */
  
  
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(180deg, var(--accent-color) 0%, var(--main-color) 100%);
    color: #fff;
    height: 13vh;
    margin-bottom: 1rem;
    /* clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 0 85%); */
  }
  
  .go-back {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .go-back:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .event-details {
    margin-bottom: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--accent-color);
    position: relative;
  }
  
  .event-details:last-child {
    border-bottom: none;
  }
  
  .event-details .event-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .event-details .time {
    display: block;
    margin-bottom: 1rem;
  }
  
  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  
  }
  
  
  
  .subtasks {
    list-style-type: circle;
    padding-left: 10;
  }
  
  .subtask {
    background-color: var(--background-color);
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
  }
  
  
  .footer {
    padding: 0.5rem;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
  }
  
  
  .go-back:hover {
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
  }
  
  .tag:hover {
    background-color: #5a5a5a;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .subtask:hover {
    background-color: #e5e5e5;
    cursor: pointer;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  
  .tag {
    color: #fff;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  
    border-radius: 15px;
    margin: 1.0rem;
    
    position: relative;
  }
  
  .tag:nth-child(1) {
    background-color: green;
  }
  
  
  /* Add this code at the end of your CSS file */
  .add-event {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
  }
  
  .add-event-link {
    font-size: 24px;
    background-color: var(--accent-color);
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .add-event-link:hover {
    background-color: #0066cc;
    transition: background-color 0.3s ease;
  }
  
  
  
  .event-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .event-form label {
    font-weight: bold;
  }
  
  .event-form input[type="text"],
  .event-form input[type="time"],
  .event-form input[type="number"],
  .event-form select,
  .event-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }

  .event-form textarea {
    resize: vertical;
  }
  
  .event-form input[type="text"]:focus,
  .event-form input[type="time"]:focus,
  .event-form textarea:focus {
    border-color: var(--accent-color);
  }
  
  .save-btn {
    background-color: var(--accent-color);
    color: #fff;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    width: fit-content;
    align-self: flex-end;
  }
  
  .save-btn:hover {
    background-color: var(--accent-color);
    transition: background-color 0.3s ease;
  }
  
  .edit-event-btn {
    background-color: #0066cc;
    border: none;
    border-radius: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin-left: 3px;
    outline: none;
    text-align: center;
  }
  
  .edit-event-btn:hover {
    background-color: #0052a3;
    transition: background-color 0.3s ease;
  }
  
  
  .delete-event-btn {
    background-color: #ff4d4d;
    border: none;
    border-radius: 5%;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    line-height: 20px;
    margin-left: 3px;
    outline: none;
    text-align: center;
  }
  
  .delete-event-btn:hover {
    background-color: #e33434;
    transition: background-color 0.3s ease;
  }
  
  
  .sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 15px;
    height: 60vh;
    overflow-y: auto;
  }
  
  .sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4a69bd;
  }
  
  .sidebar ul {
    list-style-type: none;
  }
  
  .sidebar li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 0;
    transition: color 0.2s;
  }
  
  .sidebar li a:hover {
    color: white;
    background-color: lightgray;
  }
  
  .trip-details {
    flex-grow: 1;
    margin-left: 20px;
    padding: 15px;
    background-color: #ffffff;
    overflow-y: auto;
    height: 60vh;
  }
  
  .trip-details h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #4a69bd;
  }
  
  .day {
    margin-bottom: 20px;
  }
  
  .day h3 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .day p {
    color: #666;
  }
  
  .add-btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #4a69bd;
    color: #fff;
    font-size: 36px;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 52px;
    cursor: pointer;
  }
  
  
  
  .add-btn:hover {
    background-color: #6a89cc;
  }
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo img {
    max-height: 40px;
    margin-right: 0.5rem;
  }
  
  
  .container2 {
    display: flex;
    height: calc(100% - 60px);
  }
  
  
  .nav-content2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .right-nav2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
  }

  /* joshua */
  .activityContainer {
    display: grid;
    grid-template-columns: 1fr 6fr;
    
  }

  .time {
    color: #4a69bd;
    font-weight: bold;
  }
/* 
  .day {
    border: 1px solid;
  } */

  
  /* edit event view styling */
  .editField {
    display: grid;
    grid-template-columns: 1fr 7fr;
    /* border: black solid; */
    padding: 5px;
  }

  /* .editForm {
    border: black solid;
  } */

  
  
  
  
  
  